.node-item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem;
  border: 1px solid transparent;

  &:hover {
    border-color: #000;

    .add-button {
      display: block;
      border-radius: 100%;
      margin-left: .25rem;

      i {
        margin-top: 2px;
      }
    }
  }

  img {
    margin-right: .25rem;
  }

  .add-button {
    display: none;
  }

  +ul {
    list-style: square;
    padding-left: 1rem;
  }
}